body{
  margin: 0;
  padding: 0;
  background: #B3FFAB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #12FFF7, #B3FFAB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #12FFF7, #B3FFAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.calculator{
  display: grid;
  grid-template-columns: repeat(4,6rem);
  grid-template-rows: minmax(7rem,auto) repeat(5,6rem);
  width: 25%;
  height: 50vh;
  margin: auto;
  margin-top: 5rem;
  
}
.calculator button{
  cursor: pointer;
  font-size: 1.5rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}
.calculator button:hover,.calculator button:focus{
  background-color: rgba(255, 255, 255, .90);
}
.span-two{
  grid-column: span 2 ;
}
.output{
  grid-column: 1/-1;  
  background-color: rgba(0,0,0, .75);
  display: flex;  
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
}
.output .previous-operand{
  color: #fff;
  font-size: 1.5rem;
}
.output .current-operand{
  color: #fff;
  font-size: 2.5rem;
}